.containerCentral{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
}

.prazosContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border:1px solid gray;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #a5a5a5;
}

.dividerCustom{
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: #474747;
  margin: 3px 0px;
}

.divDeTestes{
  margin-top: -38px;
  text-align: center;
  background-color: #004458;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}
